<%= form_for @event, :url => { :controller => 'events', :action => 'update', :id => @event.id } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

	<%if @event.id == nil%>
    	<%= f.submit "Create" %>
    <%end%>
    <%if @event.id != nil%>
    	<%= f.submit "Update" %>	
    <%end%>
<% end %>

<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>